* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    background: #f4f5f6;
}

.container-fluid {
    max-width: 1310px;
}

.header-top {
    background: #f72210;

}

.logo {    
    width: 24.75em;
}

.logo svg {
    fill: #fff;
}

.header-bottom::before {
    width: 4.125em;
    position: absolute;
    top:0;
    right: 0;
    content: "";
    background-color: #f72210;
    border-left: 0.75em solid white;
    border-top: 0.813em solid #f72210;

}

.navbar-toggler {
    display: none;       
}


.img-full {
    width: 100%;
}

.nav-item {
    font-size: 19px;
    line-height: 24px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.line-divider {
    content: "";
    height: 2px;
    background-color: aquamarine;
}

.featured-stories,
.top-story,
.col-item,
.mag-start,
.wrap
 {
    position: relative;

}
/* 
.content-auto {
    content-visibility: auto;
} */

.featured-stories .category,
.mag-start .category,
.col-item .category,
.top-story .category,
.wrap .category {
    position: absolute;
    bottom: 0;
    left: 0;
    margin:0;
    padding: 8px 15px 9px;
    color: #f72210;
    text-transform: uppercase;
    background-color: #ffffffe6;
    z-index: 1;
}


.sticky {
    position: sticky;
    bottom: 0;
}

.subscribe-title {
    color: #f72210;
}

.image {
    width: 95px;
    margin-right: 15px;
}

.headshot  {
    width: 150px;
    margin-right: 15px;
}
 .headshot img {
     width: 100%;
     
 }

  /* div {
      font: 17px/21px "Roboto Condensed", sans serif;
  } */

  .divider {
      position: relative;
  }

  .divider::before {
    top: calc(50% - 2px);
  }

  .divider::after {
      top: 50%;
  }

  .divider::before,
  .divider::after {    
    content: "";
    display: block;
    background-color: #d9d9d9;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
}

.bg-grey {
    background-color: #d9d9d9;
}

 .d-vs {
     position: relative;
     z-index: 1;
     width: 32px;
     height: 32px;
     background-color: black;
     color: #d6d6d6;
     border-radius: 50%;
     font: bold 14px/32px "Roboto Condensed", sans-serif;
     text-align: center;
     margin: 6px auto;
 }

.mag-title {
    font: bold 19px/19px "Roboto Condensed", sans-serif;
}

.icon-n {
    flex: none;
    width:29px;
    height: 28px;
    background: url("https://g.newsweek.com/www/images/logo-n1.svg") center/contain no-repeat #f72210;
    margin-right: 15px;
}

.mag-cat {
    font: bold 16px/26px "Roboto Condensed",sans-serif;
    padding: 0 7px;
    background-color: #f72210;
    color: white;
    margin-right: 7px;
}

a {
    color:inherit;
}

.cat {
    font: bold 16px/26px "Roboto Condensed",sans-serif;
    color: #f72210;
}

.mag-image-item
{
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
}

.mag-img {
    transform: translate(-50%,0%);
    position: absolute;
    top: 0;
    left: 50%;
    width: auto;
    height: 100%;
    max-width: inherit;
}

.edit-pick-image {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.magazine .bottom {
    padding-top: 30px;
}

.sub-image {
    position: relative;
    padding-bottom: 13px;
    padding-right: 90px
}


.mag-thumb {
    width: 170px;
    height: 228px;
}

.mag-thumb.prev{
    height: auto;
}

.mag-thumb.current {
    position: absolute;
    top: 13px;
    left: 80px;
}

.btn-red {
    background: #f72210;
}

.news-img {
    background: url("https://d.newsweek.com/en/full/1541302/starting5-homepage.png") center center/cover no-repeat;
    width: 48%;
    max-width: 191px;
}

.news-info {
    padding: 30px;
}

.signup input {
    width: 100%;
    height: 38px;
    line-height: 38px;
}

.form-text {
    color: #555;
    font-size: 14px;
    font-family: "Helvetica",sans-serf;
    background-color: white;
    border: 1px solid #e0e1e1;
    text-indent: 9px;
}


.form-submit {
    cursor: pointer;
    font-size: 0;
    font-family: "Roboto Condensed",sans-serif;
    background: url("https://g.newsweek.com/www/images/free-sign-up.svg") center/108px no-repeat #f61602;
    border-radius: 3px;
    margin-top: 11px;
}

.footer {
    background: #fff;
}

.footer-top .brand svg {
    display: block;
    width: 236px;
    height: 36px;
    margin-right: 15px;
    margin-bottom: 12px;
    fill: #f72210;
}

.copyright {
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #666;
    margin-bottom: 12px;

}

.social li {
    list-style: none;
    margin-left: 10px;
}

.edition-head {
    margin-top: 6px;
    margin-right: 15px;
}


.menu-item {
    display: inline-block;
    padding-right: 20px;
    margin: 6px 0;
    cursor: pointer;

}

@media only screen and (max-width: 992px) {
    .logo {
        width: 10.75em
    }
    .navbar-toggler {
    display: inline;
    }
}

@media only screen and (max-width: 768px) {

}